@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base
{
   body
   {
    @apply bg-app-purple-1;
   }
}

@layer components
{
  /* Draw grid lines for day and week view */
  .mode-day-grid 
   {
    background-image:
      repeating-linear-gradient(to right,#E3CDE3 0 1px, transparent 1px 100%);
    background-size: calc(100%/24);
   }

   .mode-week-grid
   {
    background-image:
      repeating-linear-gradient(to right,#E3CDE3 0 1px, transparent 1px 100%);
    background-size: calc(100%/7);
   }
}
